<div style="height: 100%;">
    <mat-toolbar class="standar">
        <span style="width: 100%;text-align: center">Detalles de la politica</span>
    </mat-toolbar>

    <mat-card>
        <div style="padding:5px; padding-top: 0px;">
            Nombre: {{politica.politica_nombre}}
        </div>
        <div style="padding:5px;  padding-top: 0px">
        Coeficiente interanotador = {{listaInteranotador.coeficiente}}s
        </div>

        <mat-card-content>
            <table mat-table [dataSource]="listaInteranotador.anotadores" class="mat-elevation-z8" style="width: 100%">
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> # </th>
                    <td mat-cell *matCellDef="let anotador; let indice = index"> {{indice +1}} </td>
                </ng-container>

                <ng-container matColumnDef="anotador">
                    <th mat-header-cell *matHeaderCellDef> anotador </th>
                    <td mat-cell *matCellDef="let anotador; let indice = index"> {{anotador.email}} </td>
                </ng-container>

                <ng-container matColumnDef="total_anotaciones">
                    <th mat-header-cell *matHeaderCellDef> total anotaciones </th>
                    <td mat-cell *matCellDef="let anotador; let indice = index"> {{anotador.total_anotaciones}} </td>
                </ng-container>

            </table>
        </mat-card-content>
    </mat-card>
</div>