.standar{
    background-color: #106CC8;
    color: "white" !important;
    font-weight: 'bold'
}

.example-full-width {
    width: 100%;
}

.button{
    color: "#106CC8" !important;
    font-weight: 'bold';
    font-size: 45px;

}