.button{
    color: "#106CC8" !important;
    font-weight: 'bold';
    font-size: 45px;
}

.example-full-width {
    width: 100%;
}


.textoSelector{
    height: 225px;
    width: 95%; 
    overflow: auto; 
    border-radius: 5px;
    padding-top: 0px;
    text-align: justify;
}
.div{
    padding-top: 15px;
    background-color: white; 
    border-radius: 10px; 
    border-color: whitesmoke !important; 
    border: solid;
}

.div2 {
    padding-top: 15px;
    background-color: white; 
    border-radius: 10px; 
    border-color: whitesmoke !important; 
    border: solid;
    padding-left: 20px;

}

.divNoPadding{
    background-color: white; 
    border-radius: 10px; 
    border-color: whitesmoke !important; 
    border: solid;
}

.icon{
    font-size: 30px;
    color:white;
    vertical-align: text-bottom !important;
}
