<div class="div2">
    <mat-grid-list cols="10" rowHeight="30px">
        <mat-grid-tile [colspan]="10" [rowspan]="1">
            <mat-card-title style="width: 100%; text-align: center; ">
                <span style="color:#106CC8;">{{politica.nombre}}</span>
            </mat-card-title>
        </mat-grid-tile>

    </mat-grid-list>
</div>

<div class="divNoPadding">
    <div style="font-size: 18px; font-weight: 500; padding-left: 15px; height: 60px; overflow-y: auto; width: 650px; ">
        {{parrafoTitulo}}
    </div>
    <mat-card class="textoSelector">
        <mat-card-content>
            <div (mouseup)="seleccion()">
                <p id="texto" style="font-size: 16px">
                </p>
            </div>
        </mat-card-content>

    </mat-card>

</div>

<div class="divNoPadding">
    <mat-grid-list cols="10" rowHeight="40px" style="width: 100%;">

        <mat-grid-tile [colspan]="2" [rowspan]="1" style="width: 100%; ">
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1" style="width: 100%; ">
            <button mat-icon-button (click)="anteriorParrafo()">
                <mat-icon class="button" style="color: #106CC8;">
                    arrow_left
                </mat-icon>
            </button>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="4" [rowspan]="1" style="width: 100%; padding-top: 10px;">
            <span style="font-weight: 500;">{{parrafoIndice +1}}/{{totalParrafos}}</span>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1" style="width: 100%; ">
            <button mat-icon-button (click)="siguienteParrafo()">
                <mat-icon class="button" style="color: #106CC8;">
                    arrow_right
                </mat-icon>
            </button>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1" style="width: 100%; ">
        </mat-grid-tile>

    </mat-grid-list>
</div>

<div class="divNoPadding">
    <mat-grid-list cols="10" rowHeight="30px">
        <mat-grid-tile [colspan]="10" [rowspan]="4" style="width: 100%; ">
            <mat-card style="height: 90%; overflow: auto; width: 100%; text-align: justify;">
                <mat-card-title style="color: tomato; font-size: 14px;">
                    TEXTO SELECCIONADO:
                </mat-card-title>
                <mat-card-content>
                    <span id="seleccion"></span>
                </mat-card-content>

            </mat-card>
        </mat-grid-tile>

    </mat-grid-list>
</div>


<div class="divNoPadding">
    <mat-grid-list cols="20" rowHeight="40px">
        <mat-grid-tile [colspan]="16" [rowspan]="1" style="width: 100%; ">
            <p style="text-align: left; font-size: 16px; color: #106CC8; width: 100%; padding-left: 15px;">
                EL TEXTO SELECCIONADO ES CORRECTO?</p>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1" style="width: 100%; ">
            <mat-icon style="color: tomato;" class="icon" (click)="limpiarTextoEscogido()">
                delete_forever
            </mat-icon>
        </mat-grid-tile>


        <mat-grid-tile [colspan]="2" [rowspan]="1" style="width: 100%; ">
            <mat-icon style="color: forestgreen;" class="icon" (click)="emitirParrafoId();textoValidado(); textoValidadoHtml();">
                check_circle
            </mat-icon>
        </mat-grid-tile>

    </mat-grid-list>
</div>