.standar {
    color: white;
    background-color: #106CC8;
}

.standarNegativo {
    color: white;
    background-color: #ED1A1A ;
}

.cuadro {
    width: 100%;
    font-size: 18px; 
    padding-left: 20px;
    border: solid;
    border-color: #106CC8;
    border-radius: 5px;
}