<mat-toolbar class="standar">
    <span style="width: 100%;text-align: center;">Politica de privacidad de: {{politicaVisualizar.politica.nombre}}</span>
</mat-toolbar>

<mat-card class="textoSelector">

    <mat-card-content>

        <div>
            <p id="politicaTexto" style="align-content: initial;">
            </p>
        </div>
    </mat-card-content>


    <mat-card-actions style="padding-top: 0px;">
        <mat-grid-list cols="4" rowHeight="40px">
            <mat-grid-tile [colspan]="3" [rowspan]="1">
                <mat-card-title style="width: 100%"></mat-card-title>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <button (click)="guardar()" class="standar" mat-button>
                    Guardar
                    <mat-icon>save</mat-icon>
                </button>
            </mat-grid-tile>
        </mat-grid-list>
    
    </mat-card-actions>

</mat-card>