<mat-card-title class="div" style="width: 100%; text-align: center;  ">
    <mat-grid-list cols="30" rowHeight="30px">

        <mat-grid-tile [colspan]="25" [rowspan]="1">
            <span style="color:#106CC8;">{{politica?.nombre}}</span>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="5" [rowspan]="1">
            <mat-icon *ngIf="totalAnotacionesParrafo != 0 ; else noAnotaciones" style="color:#106CC8; cursor: pointer;"
                matTooltip="Visualizar anotaciones" (click)="visualizarAnotaciones()">
                visibility
            </mat-icon>
            <span *ngIf="totalAnotacionesParrafo != 0" (click)="visualizarAnotaciones()"
                style="color:#106CC8; font-size: 18px; cursor: pointer;" matTooltip="Visualizar anotaciones">
                ({{totalAnotacionesParrafo}})
            </span>

            <ng-template #noAnotaciones>
                <mat-icon style="color:gray;">
                    visibility
                </mat-icon>
                <span style="color:gray; font-size: 18px;">
                    ({{totalAnotacionesParrafo}})
                </span>
            </ng-template>
        </mat-grid-tile>

    </mat-grid-list>
</mat-card-title>

<div class="divNoPadding">
    <mat-grid-list cols="20" rowHeight="40px" style="width: 100%;">

        <mat-grid-tile [colspan]="2" [rowspan]="1" style="width: 100%; ">
            <button mat-icon-button (click)="anteriorParrafo()">
                <mat-icon class="button" style="color: #106CC8;">
                    arrow_left
                </mat-icon>
            </button>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="4" [rowspan]="1" style="width: 100%">
            <span style="padding-top: 10px; font-weight: 500;">{{parrafoIndice +1}}/{{totalParrafos}}</span>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1" style="width: 100%; ">
            <button mat-icon-button (click)="siguienteParrafo()">
                <mat-icon class="button" style="color: #106CC8;">
                    arrow_right
                </mat-icon>
            </button>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="8" [rowspan]="1" style="width: 100%; ">
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1" style="width: 100%; ">
            <mat-icon 
                style="color: tomato; cursor: pointer;" 
                class="icono" 
                (click)="limpiarTextoEscogido()"
                matTooltip="Limpiar texto seleccionado"
            >
                clear
            </mat-icon>
        </mat-grid-tile>


        <mat-grid-tile [colspan]="2" [rowspan]="1" style="width: 100%; ">
            <mat-icon 
                style="color: forestgreen; cursor: pointer;" 
                class="icono" 
                (click)="guardarAnotacion()"
                matTooltip="Guardar Anotacion">
                check_circle
            </mat-icon>
        </mat-grid-tile>

    </mat-grid-list>
</div>


<div class="divNoPadding" (mouseup)="seleccion()">
    <div class="titulo" style="width: 625px; height: 40px;">
        {{parrafoTitulo}}
    </div>
    <mat-card class="textoSelector">
        <mat-card-content>
            <div>
                <p id="texto" style="font-size: 16px">
                </p>
            </div>
        </mat-card-content>

    </mat-card>

</div>