<mat-card *ngIf="anotaciones.inconsistencia; else noInconsistencia"
    style="padding-bottom: 0px; background-color:#E74C3C; overflow: hidden;">
    <mat-grid-list cols="10" rowHeight="35px" style="width: 100%;">
        <mat-grid-tile [colspan]="10" [rowspan]="1">
            <span style="font-weight: 500; color: white; font-size: 20px;">
                ANOTACIONES INCONSITENTES
            </span>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>

<ng-template #noInconsistencia>
    <mat-card style="padding-bottom: 0px; background-color: #2ECC71;">
        <mat-grid-list cols="10" rowHeight="35px" style="width: 100%;">
            <mat-grid-tile [colspan]="10" [rowspan]="1">
                <span style="font-weight: 500; color: white; font-size: 20px;">
                    ANOTACIONES CONSITENTES
                </span>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
</ng-template>


<mat-expansion-panel class=bordeExpansionPanel [expanded]=true
    [ngStyle]="{'border-color': anotaciones.inconsistencia? '#E74C3C' : '#2ECC71'}"
    *ngFor="let usuario of anotaciones.usuarios_anotaciones" style="width: 600px;">

    <mat-expansion-panel-header style="height: 50px !important;">
        <mat-panel-title>
            <span style="font-weight: 500;"> {{usuario.email}} </span>
        </mat-panel-title>
        <mat-panel-description>
            <span style="font-weight: 500;"> {{usuario.rol_usuario}} </span>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card class="mat-elevation-z8 card" style="background-color: #fafafa; padding-bottom: 0px"
        [ngStyle]="{'border-color': anotacion.color_primario}" *ngFor="let anotacion of usuario.anotaciones">

        <mat-grid-list cols="15" rowHeight="30px">

            <mat-grid-tile [colspan]="14" [rowspan]="1" *ngFor="let valor of anotacion.valores">
                <span style="font-weight: 500; text-align: left; width: 100%;"
                    [ngStyle]="{'color': valor.color_primario}">
                    {{valor.tratamiento_descripcion}} |
                    {{valor.atributo_descripcion}} |
                    {{valor.valor_descripcion}}
                </span>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-icon style="color: #106CC8; position: absolute; cursor: pointer;"
                    (click)="copiarAnotacion(anotacion)" matTooltip="Copiar anotacion">
                    file_copy
                </mat-icon>
            </mat-grid-tile>
        </mat-grid-list>
        <hr>

        <mat-card-content>
            <span style="font-weight: 500;">Anotacion:
                <span *ngIf="anotacion.permite; else noPermite" style="color: green; font-weight: 600;">
                    PERMITE
                    <br>
                </span>
        
                <ng-template #noPermite>
                    <span style="color: red; font-weight: 600;">
                        NO PERMITE
                    </span>
                    <br>
                </ng-template>
            </span>
            <br>
            {{anotacion.texto}}
            <br>
            <br>
            <span style="font-weight: 500;">Comentario:</span>
            <br>
            {{anotacion.comentario}}
            <br>
            <br>
        </mat-card-content>
    </mat-card>
</mat-expansion-panel>