<div style="padding-left:20px;">
    <mat-grid-list cols="20" rowHeight="30px" style="width: 100%; overflow: auto;">
        <mat-grid-tile [colspan]="10" [rowspan]="21" style="width: 650px; height: 100%;" >
            <app-seleccionar-texto 
            [politicaId]="politicaId"
            (parrafo_cambiado) = "parrafoCambiado()"
            (parrafo_id) = "obtenerParrafoId($event)"
            (guardar_anotaciones)="guardarAnotacion()"
            >
            </app-seleccionar-texto>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="10" [rowspan]="22" style="width: 100%; height: 100%; ">
            <app-tree-view-check 
            (listaSeleccionada)="obtenerLista($event)">
            </app-tree-view-check>
        </mat-grid-tile>

    </mat-grid-list>
</div>