<mat-card class="standar" style="color: white; text-align:  center;">
    <mat-card-title>
        Resumen de anotaciones realizadas
    </mat-card-title>
</mat-card>


<mat-card class="mat-elevation-z8 card" style="background-color: #fafafa; padding-bottom: 0px"
    *ngFor="let anotacion of anotaciones">

    <mat-grid-list cols="15" rowHeight="30px">

        <mat-grid-tile [colspan]="13" [rowspan]="1" *ngFor="let valor of anotacion.valores">
            <span style="font-weight: 500; text-align: left; width: 100%;" [ngStyle]="{'color': valor.color_primario}">
                {{valor.tratamiento_descripcion}} |
                {{valor.atributo_descripcion}} |
                {{valor.valor_descripcion}}
            </span>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-icon style="color: tomato; position: absolute; cursor: pointer;" (click)="eliminarAnotacion(anotacion)"
                matTooltip="Eliminar anotacion">
                delete_forever
            </mat-icon>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-icon style="color: #106CC8; position: absolute; cursor: pointer;" (click)="editarAnotacion(anotacion)"
                matTooltip="Editar anotacion">
                edit
            </mat-icon>
        </mat-grid-tile>

    </mat-grid-list>

    <hr>
    <mat-card-content>

        <span style="font-weight: 500; text-align: justify;">Anotacion:
            <span *ngIf="anotacion.ejecuta; else noEjecuta" style="color: green; font-weight: 600;">
                Ejecuta
                <br>
            </span>

            <ng-template #noEjecuta>
                <span style="color: red; font-weight: 600;">
                    No ejecuta
                </span>
                <br>
            </ng-template>

        </span>
        <br>
        {{anotacion.texto}}
        <br>
        <br>
        <span style="font-weight: 500; text-align: justify;">Comentario:</span>
        <br>
        {{anotacion.comentario}}
        <br>
        <br>
    </mat-card-content>
</mat-card>