<mat-toolbar class="standar">
    <span style="width: 100%;text-align: center">{{titulo}}</span>
</mat-toolbar>
<mat-card>
    <mat-card-content>
        <mat-dialog-content [formGroup]="formulario">
                <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Nombre Tratamiento</mat-label>
                        <input matInput placeholder="Nombre de tratamiento" formControlName="descripcion"
                            value={{elemento.descripcion}}>
                    </mat-form-field>
            
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Color del tratamiento</mat-label>

                        <input  matInput placeholder="Color Primario" formControlName ="color_primario"
                         [ngStyle]="estiloAnotacion(elemento.color_primario)" value= {{elemento.color_primario}}>

                        <mat-icon title='Editar color' matSuffix (click)="colorPicker(elemento.color_primario)"
                            [ngStyle]="estiloAnotacion(elemento.color_primario)">color_lens
                        </mat-icon>
                    </mat-form-field>
        </mat-dialog-content>
    </mat-card-content>
</mat-card>
<mat-card-actions>
    <mat-grid-list cols="4" rowHeight="4:1">
        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <mat-card-title style="width: 100%"></mat-card-title>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <button (click)="guardar()" class="standar" mat-button>
                Guardar
                <mat-icon>save</mat-icon>
            </button>
        </mat-grid-tile>
    </mat-grid-list>

</mat-card-actions>