<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding class="fondo" title="Gestion de {{node.nombre}}">
        <mat-icon style="padding-left: 10px">{{node.icono}}</mat-icon>
        <span routerLink="{{node.path}}" style="padding-left: 5px"> {{node.nombre}}
        </span>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding class = fondo>
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toogle ' + node.nombre">
            <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? node.icono : node.icono}}
            </mat-icon>
        </button>
        {{node.nombre}}
    </mat-tree-node>
</mat-tree>