.fondo{
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
}

.example-h2 {
    margin: 10px;
  }
  
.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}
  
.example-margin {
    margin: 10px;
}

.mat{
    padding: 0px;
    padding-left: 16px;
}