<div style="height: 100%;">

    <mat-toolbar class="standar">
        <span style="width: 100%;text-align: center">{{titulo}}</span>
    </mat-toolbar>

    <mat-card style="padding-bottom: 0px;">
        <mat-card-content style="padding-bottom: 0px;">

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Nombre de la politica de privacidad</mat-label>
                <input type="text" matInput placeholder="Politica de privacidad" value={{politicaAux.nombre}}>
            </mat-form-field>

            <label class="label">Asignar anotadores: </label>
            <div style="padding: 5px;" *ngFor="let usuario of anotadores">
                <mat-checkbox style="padding-left: 10px; padding: 5px;"
                    [checked]="anotadoresSeleccionados.isSelected(usuario)" (change)="seleccionarUsuario(usuario)">
                    {{usuario.email}}
                </mat-checkbox>
            </div>

            <label id="administradores">Asignar consolidador: </label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="administradorEscogido">
                <mat-radio-button class="example-radio-button" *ngFor="let usuario of administradores"
                    [value]="usuario">
                    {{usuario.email}}
                </mat-radio-button>
            </mat-radio-group>

        </mat-card-content>

        <mat-card-actions style="padding-top: 0px; padding-bottom: 0px;">
            <mat-grid-list cols="4" rowHeight="4:1">
                <mat-grid-tile [colspan]="3" [rowspan]="1">
                    <mat-card-title style="width: 100%"></mat-card-title>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="2">
                    <button (click)="guardar()" class="standar" mat-button>
                        Guardar
                        <mat-icon>save</mat-icon>
                    </button>
                </mat-grid-tile>
            </mat-grid-list>

        </mat-card-actions>
    </mat-card>