<mat-card class="mat-elevation-z8 card" style="background-color: #fafafa ;">
    <mat-grid-list cols="4" rowHeight="40px">
        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <mat-card-title style="width: 100%">Gestion de Políticas de privacidad</mat-card-title>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <button mat-raised-button class="standar" style="height: 35px; color: white"
                (click)="nuevo()">+Nuevo</button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="1" [style.background-color]="blue">
            <mat-card-subtitle style="width: 100%"> Listado, creación, eliminación y edición de políticas de privacidad: </mat-card-subtitle>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="8" rowHeight="40px">

        <mat-grid-tile [colspan]="5" [rowspan]="1">
            <input class="standar" type="file" (change)="fileChange($event)" placeholder="Subir archivo" accept=".txt">
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <button  class="standar" type="submit" class="btn-large btn-submit" [disabled]="Image.value =='' || !imageForm.valid">Submit</button>
        </mat-grid-tile>

    </mat-grid-list>

